.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {

  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.nav:hover {
  color: rgb(119,157,155); 
  text-decoration: inherit;
}

#route-card {
  background-color: black;
  opacity: 0.7;
  margin-bottom: 15px;
}

 .nav, h1, h2, h3, h4 {
  font-family: TimesNewRoman,
  "Times New Roman", Times, Baskerville, Georgia, serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 22px;
  position: relative;
  color: #090909;
  padding: 0 10px;
  background-color: #fff;
  border: 0 none;
  line-height: 50px;
}
