.form-control {
  width: 300px;
  margin: 0 auto;
  vertical-align: middle;
}

button {
  color: rgb(119,157,155);

  border: none;
  text-decoration: underline;
}

.save {
  margin-left: 140px; 
}

button[type="submit"] {
  margin: 0 auto;
  align-items: center;
  vertical-align: middle;
}

input[type="textarea"] {
  height: 75px;
  vertical-align: middle;
}

input[type="file"] {
  border-radius: 0px;
  vertical-align: middle;
  background-color: blue;
}

.danger {
  color: red;
}

label {
  width: 300px;
  margin: 0 auto;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
}

h2 {
  margin-left: 140px;
}
